<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <title>Document</title>
</head>
<body>

<header>
    <div class="logo">
        kars_kz
    </div>
    <div class="search-container">
        <form action="/search" method="post">
            <input type="text" name="search_request" placeholder="Поиск...">
            <button>Поиск</button>
        </form>
    </div>
    <div class="search-container">
      
        <a href="{{ url_for('create' )}}" ><button>Создать объявление</button></a>
    </div>
    <a href=" {{ url_for('get_profile')}} "><button class="profile-button">Профиль</button></a>
</header>

<main>
    <div>
        <a href=" {{ url_for('order_descending')}} "><button class="profile-button">По убыванию</button></a>
        <a href=" {{ url_for('order_ascending')}} "><button class="profile-button">По возрастанию</button></a>
    </div>
    <div class="grid_box">
        {% if posts %}
            {% for post in posts %}
                <div class="lot">
                    <h2>
                        {{ post[1] }}
                    </h2>               
                    <h3>
                        {{ post[3] }}
                    </h3>
                    {% if post[4] != "upload_images/None" %}
                        <img src="{{ url_for('static', filename=post[4]) }}" alt="Image not loaded" style="max-width:300px;">
                    {% endif %}
                    <a href=" {{ url_for('get_details', id = post[0])}} "><button class="profile-button">Пподробнее</button></a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</main>



</body>
</html>
