<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
    <div class="lot">
        <h2>
            {{ post[1] }}
        </h2>               
        <h4 class = "post-desc">
            {{ post[2] }}
        </h4>
        <h3>
            {{ post[3] }}
        </h3>
        {% if post[4] %}
            <img src="{{ url_for('static', filename=post[4]) }}" alt="Uploaded Image" style="max-width:300px;">
        {% endif %}
        <div class="profile-buttons">
            <a href="{{ url_for('get_main') }}"><button class="profile-button">Главная</button></a>
        </div>
    </div>
</body>
</html>